html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.About {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    min-height: 100vh;
}

.resumeLinkText {
    font-size: 1.2rem;
    margin-top: 80px;
    z-index: 1;
}

.About h2 {
    margin-top: 80px;
}
.aboutContainer {
    display: flex;
    align-items: center;
}

.textContainer {
    flex: 1; /* Allows the text to take up remaining space */
}

.aboutImg {
    width: 25%;
    max-width: 25vw;
    margin-left: 50px;
    margin-right: 35px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}


.container {
    display: table-column;
}

.description {
    font-size: 1.2rem;
    line-height: 1.7;
}

.highlight {
    color: rgb(74, 163, 253);
}

.ResumeLinkButton {
    border: 2px solid rgb(179, 222, 226);
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(74, 163, 253);
    color: #000000;
    cursor: pointer;
    box-shadow: 3px 3px 15px;
}

.ResumeLinkButton a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ResumeLinkButton:hover {
    color: #000000;
    transform: scale(105%);
    transition: transform 0.3s ease;
    background-color: rgb(74, 163, 253);
}

.fadeInText {
    animation: fadeIn 1.5s;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-left: -5%;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 20vw;
    max-width: 350px;
    min-width: 350px;
    top: 750px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(120px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 30vw;
    max-width: 150px;
    min-width: 50px;
    top: 46px;
    right: 0;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media (max-width: 968px) {
    .aboutContainer {
        flex-direction: column;
        text-align: left;
    }

    .aboutImg {
        width: 50%;
        max-width: 60vw;
        margin: 20px auto;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }
        50% {
            transform: translate(0, 0px);
        }
        100% {
            transform: translate(0, 0px);
        }
    }

    .resumeLinkText {
        text-align: center;
        padding-bottom: 130px;
    }

    .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {
    .About {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .ResumeLinkButton {
        padding: 8px 10px;
        margin-right: 5px;
        margin-left: 10px;
        font-size: 1rem;
    }

    .resumeLinkText {
        font-size: 1rem;
    }
}

