.card {
    position: relative;
    border: none !important;
}

.card div {
    background-color: rgb(18, 24, 34);
    /*border: deeppink;*/
    /*border-radius: 6px;*/
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #000000;
    border-radius: 20px;
    /*border: none;*/
}

/* front of card - the picture */
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

.fadeInText {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        transform: scale(105%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}
