html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Contact {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    min-height: 100vh;
}

.Contact h2 {
    margin-top: 80px;
    margin-bottom: 60px;
}

.container {
    display: table-column;
}

.container div a {
    color: rgb(74, 163, 253);
}

.highlight {
    color: rgb(74, 163, 253);
}

.fadeInText {
    animation: fadeIn 1.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-left: -5%;
        /*width: 300%;*/
    }
    100% {
        opacity: 1;
        margin-left: 0;
        /*width: 60%;*/
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 20vw;
    max-width: 350px;
    min-width: 350px;
    top: 500px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(120px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 30vw;
    max-width: 150px;
    min-width: 50px;
    top: 46px;
    right: -5vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}


