.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    max-width: 350px;
    min-width: 350px;
    top: 200px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 70vw;
    max-width: 350px;
    min-width: 250px;
    top: 546px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}