html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Game {
    max-width: 860px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    min-height: 100vh;

}

.Game h1 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 45px;
}

.Game button {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    width: 150px;
}

.newGameButton:hover {
    background: #d53f8f;
    color: #fff;
}

.cardContainer {
    padding: 20px;
    border: none;
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardGrid {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 40px;
}

.turns {
    font-size: 1.3em;
    margin-top: 20px;
}

.fadeInText {
    animation: fadeIn 1.5s;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(105%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    max-width: 350px;
    min-width: 350px;
    top: 200px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(170px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 35vw;
    max-width: 150px;
    min-width: 50px;
    top: 46px;
    right: 0;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(120px);
    z-index: 0;
}
@media (max-width: 1500px) {
    .topBlur {
        width: 35vw;
        height: 35vw;
        max-width: 300px;
        min-width: 300px;
        top: 150px;
        left: -15vw;
        filter: blur(130px);
    }

    .bottomBlur {
        width: 50vw;
        height: 15vw;
        max-width: 150px;
        min-width: 50px;
        top: 920px;
        right: 0;
        filter: blur(90px);
    }
}

@media (max-width: 1200px) {
    .topBlur {
        width: 30vw;
        max-width: 250px;
        min-width: 150px;
        top: 100px;
        left: -20vw;
        filter: blur(90px);
    }

    .bottomBlur {
        width: 30vw;
    }
}

@media (max-width: 900px) {
    .cardGrid {
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        display: grid;
        padding-top: 40px;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: clamp(1px, 2vw, 20px);
    }

    .cardContainer {
        padding: clamp(10px, 1vw, 20px);
        border: none;
        min-width: clamp(250px, 90vw, 750px);
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

@media (max-width: 650px) {
    .bottomBlur {
        top: 1100px;
    }
}

@media (max-width: 550px) {
    .Game h1 {
        margin-top: clamp(5px, 5vw, 70px);
        font-size: clamp(1.4rem, 5vw, 2rem);
    }

    .Game button {
        font-size: clamp(1.3rem, 5vw, 1.5rem);
        width: clamp(140px, 10vw, 150px);
    }

    .topBlur {
        top: 170px;
        left: -70vw;
        filter: blur(50px);
    }

    .bottomBlur {
        top: 950px;
        filter: blur(60px);
    }
}

@media (max-width: 450px) {
    .bottomBlur {
        top: 820px;
        filter: blur(50px);
    }

    .cardGrid {
        gap: 7px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
